src/main/resources/otaInteService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://controllers.integration.jiangda.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="OtaIntegrationServiceService" targetNamespace="http://controllers.integration.jiangda.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://controllers.integration.jiangda.com/" elementFormDefault="unqualified" targetNamespace="http://controllers.integration.jiangda.com/" version="1.0">

  <xs:element name="getEcuInfo" type="tns:getEcuInfo"/>

  <xs:element name="getEcuInfoResponse" type="tns:getEcuInfoResponse"/>

  <xs:complexType name="getEcuInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:OtaEcuRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OtaEcuRequest">
    <xs:sequence>
      <xs:element name="batchCode" type="xs:string"/>
      <xs:element name="vehSeriesNo" type="xs:string"/>
      <xs:element name="vehModelNo" type="xs:string"/>
      <xs:element name="totalVersion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEcuInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" type="tns:OtaEcuResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OtaEcuResult">
    <xs:sequence>
      <xs:element name="code" type="xs:int"/>
      <xs:element name="success" type="xs:boolean"/>
      <xs:element name="msg" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="tns:EcuData"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EcuData">
    <xs:sequence>
      <xs:element name="hardwarePartNumber" type="xs:string"/>
      <xs:element name="softwarePartNumber" type="xs:string"/>
      <xs:element name="ecuName" type="xs:string"/>
      <xs:element name="supplierId" type="xs:string"/>
      <xs:element name="ecuVersion" type="xs:string"/>
      <xs:element name="ecuFileMD5" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getEcuInfo">
    <wsdl:part element="tns:getEcuInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEcuInfoResponse">
    <wsdl:part element="tns:getEcuInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OtaIntegrationService">
    <wsdl:operation name="getEcuInfo">
      <wsdl:input message="tns:getEcuInfo" name="getEcuInfo">
    </wsdl:input>
      <wsdl:output message="tns:getEcuInfoResponse" name="getEcuInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OtaIntegrationServiceServiceSoapBinding" type="tns:OtaIntegrationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEcuInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEcuInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEcuInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OtaIntegrationServiceService">
    <wsdl:port binding="tns:OtaIntegrationServiceServiceSoapBinding" name="OtaIntegrationServicePort">
      <soap:address location="http://192.168.73.242:9000/services/otaInteService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>